html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(20,20,20);
    color: whitesmoke;
    font-size: 1.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}
.orb {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}
.orb-stab{
    background-color: #337ab7
}
.orb-inst {
    background-color: #f0ad4e
}
.orb-stat {
    background-color: #d9534f
}
.btn {
    background-color: #eee;
    border: none;
    padding: .4em .6em .4em;
    font-size: 0.8em;
    border-radius: .25em;
    color: lightcoral;
    cursor: pointer;
}
.btn:active {
    color: white;
}

.btn:hover:not(:disabled) {
    background: lightcoral;
    color: white;
}

.btn-asc {
    width: 100px;
    height: 100px;
    background-color: blue;
    outline: none;
    cursor: pointer;
}

.meniu {
    display: none;
}

.btn-asc:focus + .meniu {
    display: block;
}